/.idea
/bin
/include
/lib
.DS_Store
.Python
pip-selfcheck.json
include
bin
lib
/labderta
api_lab/__pycache__
api_lab/migrations/__pycache__
api_lab/__pycache__
api_lab/log
django_api/__pycache__/
api_lab/core/__pycache__

